
.btn-group .w2anchor2{background:#2d9258;}
.btn-group a.add_row, .btn-group a.del_row{background:#66aa61;}

.title-group h4, .title-group h5{color:#1e6616;}
.title-group .com-area .info-box > span:nth-child(1):before{color:#2d9258;}
.box > .search-box a.btn_sh {background: #8dc45c;}
.box .title-group .com-area .btn-group a {color:#3e9a33; border:1px solid #4e9846;}
.box .title-group .com-area .btn-group a.add_row:before, .box .title-group .com-area .btn-group a.del_row:before, .comp a.add_row:before, 
.comp a.del_row:before, .comp a.del_row .box .title-group .com-area .btn-group a.del_row:before{color:#07ad4a;}
.w2group.view-box > .w2tb .w2tb_th{background:#f2fbf6;}
.view-box .info-box > span:nth-child(1):before{color:#2d9258;}
.view-box table td> a.w2anchor2, .list-box table td > a.w2anchor2, .view-box table td .mix-box >div> a.w2anchor2, 
.list-box table td > div > a.w2anchor2 {color: #33b34e;background-color: #eef9f2;border: 1px solid #a6d0a4;}

/*레이아웃*/
#header{background:#61aa72;}
#header .usermenu{background:#2f6246;}
#header .usermenu li.m-on{background-color:#61aa72;}
#header .search .input_search input{color:#377f2f;}
#header .search .input_search input::placeholder{color:#377f2f;}
#header .search .input_search a:before{color:#4e9846 !important;}
#header .nav .w2treeview{background:#61aa72;}
#header .nav .w2treeview .w2treeview_row_child{background:#4e8d5d;}
#header .nav .w2treeview .w2treeview_open_child {border-bottom: 1px solid #5da36e;}
#header .nav .w2treeview_table_node .w2treeview_table_node .w2treeview_child.w2treeview_none{background:#124c1d;}
#header .nav .w2treeview_open_child .w2treeview_row_parent.w2treeview_row_depth1{background:#3f8c53;}
#header .nav .w2treeview_row_depth2 .w2treeview_col_label span{background:#227135;}
#header .nav .w2treeview_row_depth2 .w2treeview_col_label span.w2treeview_select_node{background:#16662d;}
#header .nav .w2treeview_row_depth3{background-color:#124c1d;}
#header .nav .w2treeview_row_depth3 .w2treeview_col_label span.w2treeview_select_node{background:#124c1d}
#header .nav .w2treeview_row_parent.w2treeview_row_depth4{background:#124c1d;}
#header .nav .w2treeview_open_child .w2treeview_row_depth4 .w2treeview_col_label span.w2treeview_select_node{background:#2c7b34;}
#header .nav .w2treeview_row_parent.w2treeview_row_depth5{background:#124c1d;}
#header .nav .w2treeview_row_parent.w2treeview_row_depth6{background:#124c1d;}
#header .nav .w2treeview_row_depth6 .w2treeview_col_label span.w2treeview_select_node {background:#124c1d; color:#2eea8c;}

#contents .ctr_box > a {background: url(../images/frame/bg_ctrbox_green.png) no-repeat;}

/*조회영역*/
/* .search-box{background: #d3e6db url(../images/common/bg_search_green.png) repeat-x left top;} */
.search-box{background: #D3E6DB}
.search-box .list td> .w2anchor2{background:#61aa77;}
.search-box .w2anchor2.btn_sh{background:#3e805c;}
.toggle-btn, .toggle-btn2{background: url(../images/common/btn_toggle_search.png) center no-repeat #66aa61 !important;}

/*그리드*/
.view-box td .w2grid th.gridHeaderTDDefault {color: #666768 !important;}
.w2grid .gridHeaderTableDefault th.gridHeaderTDDefault{background:#f2fbf6;}
.w2grid_plus{background-image: url(../images/common/grid-plus_green.png) !important;}
.w2grid_minus{background-image: url(../images/common/grid-minus_green.png) !important;}
.view-box .w2tb .mix-box >a, .gridBodyDefault button{color:#649d5f;}
.view-box td .w2grid {border: 1px solid #d3ecda;}
.view-box td .w2grid .gridBodyDefault {border-color: #d3ecda !important;}
.gridBodyDefault button {color: #33b34e;background: #eef9f2;border: 1px solid #a6d0a4;}
/* .w2grid .gridHeaderTableDefault input[type=checkbox]:checked + label:before {background: url(../images/common/checkbox_checked_green.png) no-repeat;} */
/* .w2grid .gridBodyDefault input[type=checkbox]:checked + label:before {background: url(../images/common/checkbox_checked_green.png) no-repeat;} */

/*컴포넌트*/
.input_search a:before{color:#649d5f;}
.w2inputCalendar_button:before{color:#649d5f;}
.w2selectbox .w2selectbox_col_button, 
/* .w2checkcombobox .w2checkcombobox_col_button {background: url(../images/common/bg_select_green.png) no-repeat 10px center;} */
.w2checkcombobox .w2checkcombobox_col_button {background: url(../images/common/bg_select_ds.png) no-repeat 10px center;}
.w2table_sb_col_over,.w2table_sb_col_focus{background:#eaf1e9; color:#22811a;}
.w2input_table_sb_col_over{background:#eaf1e9; color:#22811a;}
.w2input_table_sb{border:1px solid #cbcbcb}
.w2table_ccb_col_checkbox:checked + label {background: url(../images/common/checkbox_checked_green.png) no-repeat;}
.w2table_ccb_col_over{background:#eaf1e9;}
.w2table_ccb_col_focus .w2table_ccb_col_label,.w2table_ccb_col_over .w2table_ccb_col_label{color:#22811a;}
/* .w2autoComplete .w2autoComplete_col_button {background: url(../images/common/bg_select_green.png) no-repeat 10px center;} */
.w2autoComplete .w2autoComplete_col_button {background: url(../images/common/bg_select_ds.png) no-repeat 10px center;}
/* .w2radio_item input[type=radio]:checked + label {background: url(../images/common/radio_checked_green.png) no-repeat;} */
/* .w2checkbox_item input[type=checkbox]:checked + label {background: url(../images/common/checkbox_checked_green.png) no-repeat;} */
/* .w2treeview_open_child .w2treeview_icon_navi {background: url(../images/websquare/treeview/images/minus_green.png) no-repeat center center;} */
.w2spinner.w2_horizon.type1 .w2spinner_down:BEFORE{color:#60cc57;}
.w2spinner.w2_horizon.type1 .w2spinner_up:BEFORE{color:#60cc57;}

/* UDC */
.gb_udc_cal .cal_to_wrap .btn_cal:before, .gb_udc_cal .month_wrap .btn_cal:before{color:#649d5f;}
.gb_udc_cal .quarter_wrap .btn_cal:before{color:#649d5f;}
.gb_udc_cal .year_wrap .btn_cal:before{color:#649d5f;}
.gb_udc_cal .time_wrap .btn_cal:before{color:#649d5f;}

/* 탭 */
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center{background:#61aa72 !important;}
.w2tabcontrol > .w2tabcontrol_tabhost{border-bottom:2px solid #61aa72;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control.mask .w2tabcontrol_control.scroll > ul.w2tabcontrol_tabhost li.w2tabcontrol_active {border: 1px solid #66aa61;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a{color:#4e9846 !important;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control{border-bottom:1px solid #66aa61 !important;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_scrollLeft{background: url(../images/common/tab_tab_arrow_prev_green.png) no-repeat center center transparent;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_scrollRight{background: url(../images/common/tab_tab_arrow_next_green.png) no-repeat center center transparent;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_submenu {background: url(../images/common/tab_tab_list_green.png) no-repeat center center transparent;}

/* ECS */
:root {
	--wrap-ecs-top-back-color: #339A4B;
	--wrap-ecs-top-info-back-color: #25803A;
	--content-default-btn-back: #2D9258;
	--dash-grd-header-back-color: #3DEA65;
	--dash-grd-subtotal-back-color: #BFF3CB;
	--dash-box-con-title-back-color: #72E48D;
	--dash-water-drop-shape-back-color: #79ED94;
	--dash-belt-menu-back-color: #D4FFDE;
	--dash-belt-menu-color: #28E454;
	--dash-cbn-ntrlt-sign-color: #63FF87;
	--dash-cbn-ntrlt-box-shadow-color: #70FF919E;
	--pagination-item-active-color: #7FFF9D;
	--pagination-item-color: #7FFF9D88;

	--dash-square-top-plan-back-color: #65ADEC;
	--dash-square-top-plan-back-color-hover: #65ADEC78;
	--dash-square-top-cnstrc-back-color: #5EAAEF;
	--dash-square-top-cnstrc-back-color-hover: #5EAAEF7D;
	--dash-square-top-prdctn-back-color: #4BD8EF;
	--dash-square-top-prdctn-back-color-hover: #4BD8EF7D;
	--dash-square-top-cnstn-back-color: #4AD3E9;
	--dash-square-top-cnstn-back-color-hover: #4AD3E982;
	--dash-square-top-mng-back-color: #2C8EE6;
	--dash-square-top-mng-back-color-hover: #2C8EE682;
	--dash-square-top-excclc-back-color: #17B6CF;
	--dash-square-top-excclc-back-color-hover: #17B6CF87;
	--dash-square-top-dsuse-back-color: #0674D4;
	--dash-square-top-dsuse-back-color-hover: #0674D487;
}