
.btn-group .w2anchor2{background:#6880a0;}
.btn-group a.add_row, .btn-group a.del_row{background:#97a5b9;}

.title-group h4, .title-group h5{color:#535a64;}
.title-group .com-area .info-box > span:nth-child(1):before{color:#95a0a5;}
.box > .search-box a.btn_sh {background: #9db0ca;}
.box .title-group .com-area .btn-group a {color:#4d6d81; border:1px solid #6880a0;}
.box .title-group .com-area .btn-group a.add_row:before, .box .title-group .com-area .btn-group a.del_row:before, .comp a.add_row:before, 
.comp a.del_row:before, .comp a.del_row .box .title-group .com-area .btn-group a.del_row:before{color:#8b9bb0;}
.w2group.view-box > .w2tb .w2tb_th{background:#f9f9f9;}
.view-box .info-box > span:nth-child(1):before{color:#95a0a5;}
.view-box table td> a.w2anchor2, .list-box table td > a.w2anchor2, .view-box table td .mix-box >div> a.w2anchor2, 
.list-box table td > div > a.w2anchor2 {color: #00a8de;background-color: #eef4f9;border: 1px solid #a4bdd0;}

/*레이아웃*/
#header{background:#95a0a5;}
#header .usermenu{background:#4c5258;}
#header .usermenu li.m-on{background-color:#95a0a5;}
#header .search .input_search input{color:#5b636d;}
#header .search .input_search input::placeholder{color:#5b636d;}
#header .search .input_search a:before{color:#5b636d !important;}
#header .nav .w2treeview{background:#95a0a5;}
#header .nav .w2treeview .w2treeview_row_child{background:#8c9198;}
#header .nav .w2treeview .w2treeview_open_child {border-bottom: 1px solid #9b9b9b;}
#header .nav .w2treeview_table_node .w2treeview_table_node .w2treeview_child.w2treeview_none{background:#353a41;}
#header .nav .w2treeview_open_child .w2treeview_row_parent.w2treeview_row_depth1{background:#7a858a;}
#header .nav .w2treeview_row_depth2 .w2treeview_col_label span{background:#6f767e;}
#header .nav .w2treeview_row_depth2 .w2treeview_col_label span.w2treeview_select_node{background:#5b636d;}
#header .nav .w2treeview_row_depth2 .w2treeview_col_label span.w2treeview_select_node{background:#5b636d;}
#header .nav .w2treeview_row_depth3{background-color:#353a41;}
#header .nav .w2treeview_row_depth3 .w2treeview_col_label span.w2treeview_select_node{background:#353a41; border-left: 3px solid #2de9ff;}
#header .nav .w2treeview_row_parent.w2treeview_row_depth4{background:#353a41;}
#header .nav .w2treeview_open_child .w2treeview_row_depth4 .w2treeview_col_label span.w2treeview_select_node{background:#7a858a;}
#header .nav .w2treeview_row_parent.w2treeview_row_depth5{background:#353a41;}
#header .nav .w2treeview_row_parent.w2treeview_row_depth6{background:#353a41;}
#header .nav .w2treeview_row_depth6 .w2treeview_col_label span.w2treeview_select_node {background:#353a41; color:#2de9ff;}

#contents .ctr_box > a {background: url(../images/frame/bg_ctrbox_gray.png) no-repeat;}

/*조회영역*/
/* .search-box{background: #d7dee3 url(../images/common/bg_search_gray.png) repeat-x left top;} */
.search-box{background: #d7dee3;}
.search-box .list td> .w2anchor2{background:#7c93b1;}
.search-box .w2anchor2.btn_sh{background:#486284;}
.toggle-btn, .toggle-btn2{background: url(../images/common/btn_toggle_search.png) center no-repeat #8694a7 !important;}

/*그리드*/
.view-box td .w2grid th.gridHeaderTDDefault {color: #666768 !important;}
.w2grid .gridHeaderTableDefault th.gridHeaderTDDefault{background:#f9f9f9;}
.w2grid_plus{background-image: url(../images/common/grid-plus_gray.png) !important;}
.w2grid_minus{background-image: url(../images/common/grid-minus_gray.png) !important;}
.view-box .w2tb .mix-box >a, .gridBodyDefault button{color:#5f7a9d;}
.view-box td .w2grid {border: 1px solid #e8d3ec;}
.view-box td .w2grid .gridBodyDefault {border-color: #e8d3ec !important;}
.gridBodyDefault button {color:#00a8de; background:#eef4f9; border:1px solid #a4bdd0;}
/* .w2grid .gridHeaderTableDefault input[type=checkbox]:checked + label:before {background: url(../images/common/checkbox_checked_gray.png) no-repeat;} */
/* .w2grid .gridBodyDefault input[type=checkbox]:checked + label:before {background: url(../images/common/checkbox_checked_gray.png) no-repeat;} */

/*컴포넌트*/
.input_search a:before{color:#5f7a9d;}
.w2inputCalendar_button:before{color:#5f7a9d;}
.w2selectbox .w2selectbox_col_button, 
/* .w2checkcombobox .w2checkcombobox_col_button {background: url(../images/common/bg_select_gray.png) no-repeat 10px center;} */
.w2checkcombobox .w2checkcombobox_col_button {background: url(../images/common/bg_select_ds.png) no-repeat 10px center;}
.w2table_sb_col_over,.w2table_sb_col_focus{background:#f0e9f1; color:#61108b;}
.w2input_table_sb_col_over{background:#f0e9f1; color:#61108b;}
.w2input_table_sb{border:1px solid #cbcbcb}
.w2table_ccb_col_checkbox:checked + label {background: url(../images/common/checkbox_checked_gray.png) no-repeat;}
.w2table_ccb_col_over{background:#f0e9f1;}
.w2table_ccb_col_focus .w2table_ccb_col_label,.w2table_ccb_col_over .w2table_ccb_col_label{color:#61108b;}
/* .w2autoComplete .w2autoComplete_col_button {background: url(../images/common/bg_select_gray.png) no-repeat 10px center;} */
.w2autoComplete .w2autoComplete_col_button {background: url(../images/common/bg_select_ds.png) no-repeat 10px center;}
/* .w2radio_item input[type=radio]:checked + label {background: url(../images/common/radio_checked_gray.png) no-repeat;} */
/* .w2checkbox_item input[type=checkbox]:checked + label {background: url(../images/common/checkbox_checked_gray.png) no-repeat;} */
/* .w2treeview_open_child .w2treeview_icon_navi {background: url(../images/websquare/treeview/images/minus_gray.png) no-repeat center center;} */
.w2spinner.w2_horizon.type1 .w2spinner_down:BEFORE{color:#b282d1;}
.w2spinner.w2_horizon.type1 .w2spinner_up:BEFORE{color:#b282d1;}

/* UDC */
.gb_udc_cal .cal_to_wrap .btn_cal:before, .gb_udc_cal .month_wrap .btn_cal:before{color:#5f7a9d;}
.gb_udc_cal .quarter_wrap .btn_cal:before{color:#5f7a9d;}
.gb_udc_cal .year_wrap .btn_cal:before{color:#5f7a9d;}
.gb_udc_cal .time_wrap .btn_cal:before{color:#5f7a9d;}

/* 탭 */
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center{background:#6880a0 !important;}
.w2tabcontrol > .w2tabcontrol_tabhost{border-bottom:2px solid #6880a0;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control.mask .w2tabcontrol_control.scroll > ul.w2tabcontrol_tabhost li.w2tabcontrol_active {border: 1px solid #6880a0;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a{color:#6880a0 !important;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control{border-bottom:1px solid #6880a0 !important;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_scrollLeft{background: url(../images/common/tab_tab_arrow_prev_gray.png) no-repeat center center transparent;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_scrollRight{background: url(../images/common/tab_tab_arrow_next_gray.png) no-repeat center center transparent;}
.w2tabcontrol .w2tabcontrol .w2tabcontrol_control .w2tabcontrol_control.btn_submenu {background: url(../images/common/tab_tab_list_gray.png) no-repeat center center transparent;}

/* ECS */
:root {
	--wrap-ecs-top-back-color: #67777E;
	--wrap-ecs-top-info-back-color: #505D62;
	--content-default-btn-back: #6880A0;
	--dash-grd-header-back-color: #455054;
	--dash-grd-subtotal-back-color: #D3DBDE;
	--dash-box-con-title-back-color: #345260;
	--dash-water-drop-shape-back-color: #263840;
	--dash-belt-menu-back-color: #D7DADB;
	--dash-belt-menu-color: #15262E;
	--dash-cbn-ntrlt-sign-color: #959A9D;
	--dash-cbn-ntrlt-box-shadow-color: #7982869E;
	--pagination-item-active-color: #C7CED1;
	--pagination-item-color: #C7CED188;

	--dash-square-top-plan-back-color: #65ADEC;
	--dash-square-top-plan-back-color-hover: #65ADEC78;
	--dash-square-top-cnstrc-back-color: #5EAAEF;
	--dash-square-top-cnstrc-back-color-hover: #5EAAEF7D;
	--dash-square-top-prdctn-back-color: #4BD8EF;
	--dash-square-top-prdctn-back-color-hover: #4BD8EF7D;
	--dash-square-top-cnstn-back-color: #4AD3E9;
	--dash-square-top-cnstn-back-color-hover: #4AD3E982;
	--dash-square-top-mng-back-color: #2C8EE6;
	--dash-square-top-mng-back-color-hover: #2C8EE682;
	--dash-square-top-excclc-back-color: #17B6CF;
	--dash-square-top-excclc-back-color-hover: #17B6CF87;
	--dash-square-top-dsuse-back-color: #0674D4;
	--dash-square-top-dsuse-back-color-hover: #0674D487;
}