<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>ECS</display-name>
	<description>K-Water Energy System(KES) Web Application</description>
	<!-- <description>전력에너지 전주기 통합시스템(ECS) Web Application</description> -->

	<!--
		================================================================
		SpringFramework Root WebApplicationContext
		================================================================
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:egovframework/spring/applicationContextConfig.xml
		</param-value>
	</context-param>

	<listener>
		<display-name>contextConfigLocation</display-name>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!--
		================================================================
		Dispatcher Servlet
		================================================================
	-->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/egovframework/springmvc/dispatcherServlet.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- <async-supported>true</async-supported> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--
		================================================================
		WebSquare DispatcherServlet
		================================================================
	-->
	<servlet>
		<servlet-name>websquareDispatcher</servlet-name>
		<servlet-class>websquare.http.DefaultRequestDispatcher</servlet-class>
		<!--
		<init-param>
			<param-name>WEBSQUARE_HOME</param-name>
			<param-value>${WEBSQUARE_HOME}</param-value>
		</init-param>
		-->
	</servlet>

	<servlet-mapping>
		<servlet-name>websquareDispatcher</servlet-name>
		<url-pattern>*.wq</url-pattern>
	</servlet-mapping>

	<!--
		================================================================
		Access Certification Key Servlet
		================================================================
	-->
	<servlet>
		<servlet-name>AccessCrtfcServlet</servlet-name>
		<servlet-class>kw.scm.sc.accesscrtfc.servlet.AccessCrtfcServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccessCrtfcServlet</servlet-name>
		<url-pattern>/sc/AccessCrtfcServlet</url-pattern>
	</servlet-mapping>

	<!--
		================================================================
		Filters
		================================================================
	-->
	<!-- HttpRequestWrapperFilter -->
	<filter>
		<filter-name>ControllerJsonFilter</filter-name>
		<filter-class>kw.fw.filter.HttpRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ControllerJsonFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- Access Certification Filter -->
	<filter>
		<filter-name>AccessCrtfcFilter</filter-name>
		<filter-class>kw.fw.filter.AccessCrtfcFilter</filter-class>
		<init-param>
			<param-name>target.url.1</param-name>
			<param-value>/*/winPopup.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AccessCrtfcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Prevent Cross Site Scripting Filter -->
	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>kw.fw.filter.XSSFilter</filter-class>
		<init-param>
			<param-name>exclude.url.1</param-name>
			<param-value>/**/sampleExclude.do</param-value>
		</init-param>
		<init-param>
			<param-name>exclude.url.2</param-name>
			<param-value>/wd/sttus/curve/saveWalCpcuvNomfrm.do</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Encoding Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- HTML Tag Filter -->
	<filter>
		<filter-name>HTMLTagFilter</filter-name>
		<filter-class>egovframework.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- HTTP Method Filter & Http Put Method Filter -->
	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
		<init-param>
			<param-name>multipartResolverBeanName</param-name>
			<param-value>multipartResolver</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>httpPutFormContentFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>httpPutFormContentFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>

	<!--
		================================================================
		Listeners
		================================================================
	-->
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>

	<!--
		<listener>
		<listener-class>kw.scm.session.listener.SessionManager</listener-class>
		</listener>
	-->

	<listener>
		<listener-class>kw.scm.session.listener.IntnSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>kw.scm.session.listener.IntnSessionAttributeListener</listener-class>
	</listener>

	<!-- 불충분한 세션 만료 대응 (30분) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!--
		================================================================
		JSP Configuration
		================================================================
	-->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<!-- <default-content-type>text/html</default-content-type> -->
			<include-prelude>/WEB-INF/common/include.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<!--
		================================================================
		Welcome File List
		================================================================
	-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!--
		================================================================
		Login Method
		================================================================
	-->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<!--
		================================================================
		Error Pages Setting
		================================================================
	-->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>401</error-code>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>

	<error-page>
		<error-code>503</error-code>
		<location>/error.html</location>
	</error-page>

</web-app>
